body { 
  font-family: "Trebuchet MS", Tahoma, Arial, sans;
  color: #333;
  font-size: 80%;
  background-color: 078600;
  margin: 0px;
  width: 100%;
}

div#menu {
    clear: both;
    width: 700px;
    float: left;
}

#menu ul {
    width: 700px;
    margin: 0px;
    margin-top: 5px;
    list-style: none;
    float: left;
    padding: 0px;
}

#menu ul li {
    clear: none;
    float: left;
    margin-right: 5px;
    background-color: #2D9B27;
    padding: 5px;
}

#menu ul li a:hover {
    text-decoration: none;
}

#menu ul li a {
    color: white;
    font-weight: bold;
    font-size: 120%;
}

#menu ul li.selected a {
  color: #078600;
  font-weight: bold;
}

#menu ul li.selected {
    background-color: white;
}

.image a {
  float: left;
}

.image {
  float: left;
}

.image img {
  border: 0px;
  float: left;
}

.anime_image a {
  float: left;
}

#recommend_form input.query_box {
  width: 700px;
  height: 30px;
  font-size: 150%;
  color: #333;
  float: left;
}

#recommend_form .input_help {
  font-size: 80%;
}

#recommend_form label {
  display: none;
  clear: both;
}

form#recommend_form {
  margin-top: -12px;
  float: left;
}

form#recommend_form :after {
  clear: both;
}

#recommend_form input.submit {
  float: right;
}

.input_help {
  clear: both;
  float: left;
}


.anime_image img {
  border: 0px;
  float: left;
}

div#header { 
  float: left;
}

div#header h1 {
  clear: none;
  float: left;
}

div#header span {
  clear: none;
  float: left;

  position: absolute;
  margin-left: -200px;
  margin-top: 90px;

  color: white;
  font-style: italic;
  font-size:110%;
}

div#header img {
  float: left;
  margin: auto;
}

div#doc {
  width: 700px;
  margin: auto;
}

div#content, div#footer {
  clear: both;
  float:left;

  background-color: white;

  width: 700px;
  margin: auto;
  padding: 10px;

  text-align: justify:
}

div#content label {
  margin-left: 5px;
}

div#content ul {
  list-style: none;
}

table {
  margin: 10px;
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-size: 180%;
}

a {
  text-decoration: none;
  color: #A6A500;
}

a:hover {
  text-decoration: underline;
}

table td span {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  top: 50%;
}

table .score {
  font-size: 60%;
  float: left;
}

table td {
  border-top: 1px dashed #CCC;
  padding-top: 3px;
  padding-bottom: 3px;
}

li div {
  display: inline-table;
  vertical-align: middle;
}

li {
  margin-top: 5px;
  float: left;
  clear: both;
}

li span {
  display: block;
  float: left;
}

li span.name {
  font-weight: bold;
  font-size: 120%;
  height: auto;
}

li span.score {
  font-size: 60%;
  margin-top: 5px;
}

span.image {
  width: 80px;
}

table.anime_top, table.movies_top {
  width: 55%;
}

table.anime_normal, table.movies_normal {
  width: 35%;
}


