{% extends "base.html" %}
{% block content %}
    <script>
    $(document).ready(function(e) {
       $('.movies_top .movie_image').wikiImagify({
         name: function(elem) {
           return $(elem).next('.movie_name').text()
         }
       })
    });
    </script>
<h2>What movies do you like?</h2>
<form action="{% url types_recommend "dvds" %}" method="get">
  <p>
  <label for="movie_text">Movies: </label>
  <span class="input_help">(separated by ',')</span>
  <input type="text" name="movies" id="movie_text" />
  <input type="submit" value="Suggest Movies!" />
  </p>
</form>
<h2>What movies do people like on Twitter?</h2>
<table class="movies_top">
    {% for movie in movies %}
        {% include 'movies/movie.partial.html' %}
        {% ifequal forloop.counter 5 %}
</table>
<table class="movies_normal">
        {% endifequal %}
    {% endfor %}
</table>
{% endblock %}
