{% extends "base.html" %}
{% block content %}
    <script>
    $(document).ready(function(e) {
       $('.movies_top .image').wikiImagify({
         name: function(elem) {
           return $(elem).next('.name').text()
         },
         wiki_title: function(title) {
           return title + ' (film)';
         },
         google_query: function(title) {
           return title + ' movie poster';
         }
       })
    });
    </script>
<h2>What movies do you like?</h2>
<form action="{% url types_recommend "movies" %}" method="get"
  id="recommend_form">
  <p>
  <label for="movie_text">Movies: </label>
  <input class="query_box" type="text" name="movies" id="movie_text" />
  <span class="input_help">(separated by ',')</span>
  <input class="submit" type="submit" id="movie_submit" value="Suggest Movies!" />
  </p>
</form>
<h2>What's hot on Twitter?</h2>
<table class="movies_top">
    {% for movie in movies %}
        {% include 'movies/movie.partial.html' %}
        {% ifequal forloop.counter 5 %}
</table>
<table class="movies_normal">
        {% endifequal %}
    {% endfor %}
</table>
{% endblock %}
