{% extends 'base.html' %}
{% load pyif %}
{% block content %}
    {% pyif len(objects) == 0 %}
        <p>Sorry, we don't have any suggestions for you :(</p>
    {% else %}
        <p>You might like one of those movies:</p>
        <ul>
        {% for movie in objects %} 
          <li>
            <div>
              <span class="movie_image"></span>
              <span class="movie_name">{{movie.name}}</span>
            </div>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p style="clear:both;padding-top:10px;">
      <a href="{% url movies %}">Back</a>
    </p>
    <script type="text/javascript">
      $('li span.movie_name').each(function() {
        var title = $(this).text();
        console.log(title);
        $(this).prev('.movie_image').wikiImagify({name: title});
      });
    </script>
{% endblock %}
