{% extends 'base.html' %}
{% load pyif %}
{% block content %}
    {% pyif len(objects) == 0 %}
        <p>Sorry, we don't have any suggestions for you :(</p>
    {% else %}
        <p>You might like one of those movies:</p>
        <ul>
        {% for movie in objects %} 
          <li>
            <div>
              <span class="image"></span>
              <span class="name">{{movie.name}}</span><br/>
              <span class="score">Score: {{movie.score}}</span>
            </div>
          </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p style="clear:both;padding-top:10px;">
      <a href="{% url types "movies" %}">Back</a>
    </p>
    <script type="text/javascript">
    $(document).ready(function(e) {
       $('li span.image').wikiImagify({
         name: function(elem) {
           return $(elem).next('.name').text();
         },
         wiki_title: function(title) {
           return title + ' (film)';
         },
         google_query: function(title) {
           return title + ' movie poster';
         }
       })
    });
    </script>
{% endblock %}
